{% extends 'base.html' %}
{% block main %}

<section id="about" class="about-about">
    <div class="container">
        <article id="main-about">
            <h1 class="page-title">Mission</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis sint doloribus voluptas tenetur
                adipisci ipsa rerum optio consectetur illum saepe eveniet reiciendis voluptate dicta similique, vero
                exercitationem assumenda.
            </p>
            <p class="dark">numquam aliquid. Laudantium corrupti, dolore explicabo consectetur
                laboriosam adipisci, itaque dicta inventore doloribus perferendis hic officia et deserunt nemo
                temporibus necessitatibus atque tenetur animi. Veniam illo sed voluptates saepe minus, temporibus
                eos, corrupti possimus perspiciatis totam quia ad alias nesciunt? Laborum, ratione.</p>
            <p>This is a capstone project for a software engineering course at ALX, done by Sunday Benson
                Efe Terry.
            </p>
        </article>

        <aside id="side-bar">
            <div class="dark">
                <h3>What we're about</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quaerat similique cumque
                    sequi temporibus explicabo doloribus error architecto repellat quo quis aperiam, maiores
                    cupiditate deserunt natus quibusdam accusantium cum, aliquid labore obcaecati vitae harum
                    facilis ut dignissimos. Eos voluptas accusamus accusantium eum dignissimos dolores at libero
                    aliquid illo. Numquam quaerat, ratione dolorum molestiae aut molestias laborum labore repellat
                    repellendus exercitationem natus iste amet libero commodi esse est ad optio! Ut.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia inventore vel modi quam magnam
                    ipsa illo eius. Consectetur aliquid quo quidem at architecto accusamus pariatur recusandae esse,
                    cum aut quas! Accusamus suscipit magnam, blanditiis tenetur impedit asperiores eum omnis soluta,
                    quia repellendus quibusdam rem perspiciatis dicta repellat? Hic voluptatum nesciunt optio magni
                    fugiat reiciendis earum quidem aspernatur! Quidem cupiditate reprehenderit nulla possimus
                    commodi quas fugit enim necessitatibus eum! Assumenda labore dolorum itaque molestias sed ad
                    aperiam fugit temporibus quam nisi, vel iusto dolore hic suscipit sint voluptas voluptatum totam
                    reiciendis similique ratione molestiae, facilis unde nam ipsa? Nemo illum vero, vitae sit
                    laborum itaque saepe, in repellendus qui temporibus explicabo! Cumque illo mollitia dignissimos
                    temporibus repellendus, quas ipsum dolores nihil?</p>
            </div>
        </aside>
    </div>
</section>

{% endblock %}